<!DOCTYPE html>
{% extends 'base/index.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}
<h1>About page</h1>


    </div>
</div><div class="card">
  <h5 class="card-header">More about the Website</h5>
  <div class="card-body">
    <h5 class="card-title">Why I created this Website</h5>
    <p class="card-text">This project of mine took about 4 months to make.While I was programming this website i was also learning more about the programming world.Before wtarting it i had little to no information about programming.It was difficult as id
      get errors that i didnt know existed, but thank to Dominusoft I found it easier to create the project.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
  {% endblock %}